* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 75vh;
}

.tw {
    color: #fff;
}

.tw-b {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}

.bg-gradiant {
    background: linear-gradient(90deg, #0AA6D1, #ED25D2);
}

.bg-gradiant2 {
    background: linear-gradient(90deg, #ED25D2, #0AA6D1);
}

.dropdown-menu {
    display: none;
    background-color: linear-gradient(90deg, #0AA6D1, #ED25D2);
    border: none;
    width: 250px; /* Largeur ajustée pour un menu plus large */
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, width 0.3s ease;
    z-index: 1;
    opacity: 1;
    visibility: visible;
}

.navbar {
    background: linear-gradient(90deg, #0AA6D1, #ED25D2);
    position: relative;
    min-height: 100px;
    transition: height 0.3s ease;
    overflow: visible;
    z-index: 1;
}

/* Style des liens principaux de la navbar */
.navbar .nav-link {
    color: #fff;
    font-size: 1rem;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

/* Style du menu déroulant */
.dropdown-menu {
    display: none;
    background: linear-gradient(90deg, #0AA6D1, #ED25D2);
    border: none;
    width: 250px; /* Largeur ajustée pour un menu plus large */
    position: absolute;
    top: 100%;
    left: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, width 0.3s ease;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    transform: translateX(-5%);
    min-width: 150px;
}

/* Couleur des liens au survol (navbar et menu déroulant) */
.navbar .nav-link:hover, .dropdown-item:hover {
    background-color: transparent;
    color: #fff;
}

/* Style des liens dans le menu déroulant */
.dropdown-menu .dropdown-item {
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

@media screen and (min-width: 992px) {
    /* Affichage du menu déroulant au survol */
    .navbar-nav .dropdown:hover > .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .navbar a h4 {
        font-size: 1vw;
    }

    /* Style de l'espacement entre les éléments de la navbar */
    .nav-space-around {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    /* Agrandissement des liens principaux de la navbar au survol */
    .navbar .nav-item:hover > .nav-link {
        transform: scale(1.2);
        font-size: 1.2rem;
    }
    /* Agrandissement des liens du menu déroulant au survol */
    .dropdown-menu .dropdown-item:hover {
        transform: scale(1.1);
        font-size: 1.1rem;
    }
}

.alert {
    display: none;
}

@media (min-width: 992px) {
    .navbar-nav .dropdown:last-child .dropdown-menu {
        left: auto;
        right: 0;
    }
}


@media (max-width: 768px) {
    .navbar-nav .dropdown-menu {
        width: auto;
        position: static;
        transform: none;
    }
}

/* Style du footer */
footer {
    background: linear-gradient(90deg, #0AA6D1, #ED25D2);
    color: #fff;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}