.login {
    width: 100%;
    height: 79.5vh;
}

/* Styles des bulles */
.bulle1, .bulle2 {
    color: #fff;
    padding: 20px;
    border-radius: 50% / 50%;
    text-align: center;
    width: 250px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bulle1 {
    background: linear-gradient(0deg, #2A19CB, #0AA6D1);
    rotate: -25deg;
    margin-bottom: 30px;
}

.bulle2 {
    background: linear-gradient(180deg, #F1A7E7, #ED25D2);
    rotate: 25deg;
    margin-top: 30px;
}

/* Style des images */
.img {
    max-width: 100%;
    height: auto;
}

.tw li a {
    color: #fff;
}

.background-custom {
    background: linear-gradient(135deg, #0aa6d18f 50%, #ed25d28a 50%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Toques de chef en pseudo-éléments */
.background-custom::before,
.background-custom::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 54 54" fill="%23ffffff"><path d="M12 2c-3.136 0-5.693 2.215-6.22 5.172-1.754.48-3.038 2.064-3.038 3.828 0 2.209 1.791 4 4 4 .628 0 1.222-.152 1.751-.404l-.977 3.908c-.066.263.013.539.204.739.192.201.473.315.761.315h8.498c.289 0 .569-.115.761-.316.191-.199.27-.476.204-.738l-.977-3.908c.529.251 1.123.403 1.751.403 2.209 0 4-1.791 4-4 0-1.764-1.284-3.348-3.038-3.828-.526-2.957-3.084-5.172-6.22-5.172zm2.95 17h-5.9l.641-2.563c.148.038.296.074.449.101.472.081.95.114 1.424.114s.952-.033 1.424-.114c.153-.027.301-.064.449-.101l.641 2.563z"/></svg>');
    background-size: 300px 300px;
    opacity: 0.2;
    z-index: -1;
    pointer-events: none;
    top: 0;
    left: 0;
    background-repeat: repeat;
}

/* Background personnalisé avec toques de chef */
.background-custom::before {
    transform: translate(0px, 0px);
}

/* Background personnalisé avec toques de chef */
.background-custom::after {
    transform: translate(100px, 100px);
}

#more1 {
    display: none;
}

.container button {
    display: inline;
    position: relative;
    z-index: 2; 
}

@media (min-width: 992px) {
    
    .bulle1 {
        margin-top: 300px;
    }
    
    .bulle2 {
        margin-bottom: 300px;
    }

    #more1 {
        display: block;
    }

    #dots1 {
        display: none; /* Masque les points de suspension */
    }

    .container button {
        display: none;
    }

    .formLogin button {
        display: inline;
    }
}